body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: -10px;
}

.logo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  
}
 p {
  font-size: 18px;

 }

.header-1part {    
  background-color: #1f2937;
  
  
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin: 0px;
  margin-top: 22px;
  font-size: 18px;

}

.header {
  display: flex;
  justify-content: space-evenly;
  

}

.img1 {
width: 400px;
height: auto;



}

.first-part {
padding: 110px;
display: flex;
align-items: center;
justify-content: space-around;


}
.column1-father {

width: 422px;



}

.white {
  color: rgb(250, 250, 250);

}

.light-white {
  color: #e5e7eb;  

}

.button1 {
background-color:#3882f6;   
padding: 15px;
font-weight: bold;
border-radius: 15px;
border: none;




}